---
layout: layout.njk
---

<body class="bg-gray-100 text-gray-800">

  {% include "partials/_header.njk" %}

  <main>
    <!-- Hero Section -->
    <section class="py-12 px-6 bg-gray-800 mx-auto text-center text-white">
        <h2 class="text-4xl font-bold">Erfülle dir deine sportlichen Träume</h2>
        <p class="mt-4 text-lg">Du bist begeisterter Ausdauersportler oder möchtest einer werden?</p>
        <p class="mt-1 text-lg">Dann bist du hier richtig!</p>
        <p class="mt-1 text-lg">Ich begleite dich mit einer individuellen Trainingsplanung- und Betreuung auf dem Weg zur Ziellinie.</p>
        <div class="flex justify-center space-x-6 mt-8">
          <div class="flex flex-col items-center">
          <img src="img/triathlon.jpg" alt="Triathlon" class="w-36 h-36 rounded-full object-cover shadow-lg">
          <p class="mt-2 text-lg">Triathlon</p>
          </div>
          <div class="flex flex-col items-center">
            <img src="img/radsport.jpg" alt="Radsport" class="w-36 h-36 rounded-full object-cover shadow-lg">
            <p class="mt-2 text-lg">Radsport</p>
          </div>
          <div class="flex flex-col items-center">
            <img src="img/laufen.jpg" alt="Laufen" class="w-36 h-36 rounded-full object-cover shadow-lg">
            <p class="mt-2 text-lg">Laufen</p>
          </div>
        </div>
        <a href="#contact" class="mt-8 inline-block px-6 py-3 bg-blue-700 text-white font-semibold rounded-lg hover:bg-blue-800 transition duration-300">Ich hab Interesse</a>
    </section>

    <!-- About Section -->
    <section id="about" class="py-12 px-6 bg-white">
      <h2 class="text-3xl font-semibold text-gray-800 text-center">Über mich</h2>
      <div class="mt-8 flex flex-col lg:flex-row max-w-5xl mx-auto lg:space-x-8">
        <img src="img/portrait.JPG" alt="Portraitbild" class="w-full lg:w-1/2 mb-4 lg:mb-0 rounded-lg shadow-lg">
        <div  class="w-full lg:w-1/2">
          <p class="text-md text-gray-600">Ich bin Jürgen, diplomierter Fitness- und Gesundheitstrainer und leidenschaftlicher Ausdauersportler. </p>
          <p class="mt-2 text-md text-gray-600">Bereits einige Jahre ist es her als ich 2016 meinen ersten Triathlon erfolgreich absolvierte. Seitdem hat mich der Sport in den Bann gezogen und Schwimmen, Radfahren und Laufen sind Teil meines Alltags geworden.</p>
          <p class="mt-2 text-md text-gray-600">Mit jeder Saison wurden meine Ziele ambitionierter, mein Training strukturierter und meine Fortschritte deutlich.</p>
          <p class="mt-2 text-md text-gray-600">Ich erreichte sportliche Leistungen, die mir vor einigen Jahren noch utopisch vor kamen.</p>
          <p class="mt-2 text-md text-gray-600">Dieses Feuer für den Ausdauersport möchte ich unbedingt an andere Menschen weitergeben bzw. ihnen dabei helfen sich ihre sportlichen Träume zu verwirklichen. Ich bin überzeugt, dass ich mit meinem fundierten Wissen aus meiner Ausbildung gepaart mit meinem sportwissenschaftlichen Enthusiasmus im Bereich des Ausdauersports sowie meiner mehrjährigen praktischen Erfahrung im Triathlontraining, einen großen Beitrag leisten kann, damit du deine Ziele erreichst.</p>
          <ul class="mt-4 ml-4 list-disc text-md text-gray-600">
            <li>Dipl. Fitness- und Gesunheitstrainer (Vitalakademie Linz)</li>
            <li>Zweifacher Ironman Finisher (2024 Sub10 bei der Challenge Roth)
          </ul>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="py-12 px-6 bg-gray-100 text-center">
      <h2 class="text-3xl font-semibold text-gray-800">Mein Angebot</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
        <div class="bg-white p-6 shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold text-gray-800">Personal Coaching</h3>
          <p class="mt-4 text-gray-600">Mit einem auf dich abgestimmten Trainingskonzept begleite ich dich auf dem Weg zur Erreichung deiner sportlichen Ziele. Ich erarbeite in enger Absprache mit dir einen individuellen Trainingsplan, analysiere die Einheiten und betreue dich ganzheitlich.</p>
        </div>
        <div class="bg-white p-6 shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold text-gray-800">Trainingsberatung</h3>
          <p class="mt-4 text-gray-600">Du hast ein Trainigskonzept, bist dir aber nicht sicher ob es zu dir passt? Ich nehme es unter die Lupe und zeige dir an welchen Stellschrauben du drehen kannst um die nächsten Schritte zu machen.</p>
        </div>
        <div class="bg-white p-6 shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold text-gray-800">Gruppencoaching</h3>
          <p class="mt-4 text-gray-600">Mit meinem Laufcoaching für Gruppen gehört eintöniges Laufen der Vergangenheit an. Egal ob für dein Unternehmen, deinen Verein oder deine Freundesgruppe, ich habe ein passendes Programm für euch.</p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="py-12 px-6 bg-blue-700 text-white text-center">
      <h2 class="text-3xl font-semibold">Mache den nächsten Schritt</h2>
      <p class="mt-4">Dein Interesse ist geweckt? Dann kontaktiere mich gleich um ein kostenloses Erstgespräch zu vereinbaren.</p>
      <form name="contact" method="POST" action="/thankyou" class="mt-8 max-w-lg mx-auto" netlify netlify-honeypot="bot-field">
        <label class="hidden">
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
        <input type="text" name="name" placeholder="Name" class="w-full p-3 mb-4 text-gray-800 rounded-lg" required autocomplete="on">
        <input type="email" name="email" placeholder="Email" class="w-full p-3 mb-4 text-gray-800 rounded-lg" required autocomplete="on">
        <textarea placeholder="Deine Nachricht" name="message" class="w-full p-3 mb-4 text-gray-800 rounded-lg" required></textarea>
        <button type="submit" class="px-6 py-3 bg-white text-blue-700 font-semibold rounded-lg hover:bg-gray-100 transition duration-300">Nachricht senden</button>
      </form>
      <p class="mt-8">Gerne kannst du mich auch telefonisch unter <a href="tel:+4367761235089" class="hover:underline">+4367761235089</a> erreichen.</p>
    </section>
  </main>

  {% include "partials/_footer.njk" %}

  <script src="/index.js"></script>
  
</body>

