---
layout: layout.njk
title: "jr-coaching - Danke für deine Nachricht!"
---

<body class="bg-gray-100 text-gray-800 flex flex-col h-screen">

  {% include "partials/_header.njk" %}

  <section class="bg-blue-500 text-white p-8 flex-1 flex items-center flex-col justify-center">
      <!-- Success Icon (Checkmark) -->
      <div class="flex justify-center mb-6">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg>
      </div>

      <!-- Thank You Message -->
      <h1 class="text-3xl font-bold mb-4">Danke!</h1>
      <p class="text-lg mb-6 ">Ich habe deine Nachricht erhalten und melde mich sobald wie möglich bei dir!</p>

      <!-- Return to Homepage Button -->
      <a href="/" class="inline-block px-6 py-3 bg-white text-blue-500 font-semibold rounded-lg transition duration-300 hover:bg-blue-500 hover:text-white">
          Zurück zur Homepage
      </a>
    </section>

    {% include "partials/_footer.njk" %}

    <script src="/index.js"></script>

  </body>